@import './theme.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: var(--font-sans);
  line-height: var(--leading-normal);
  font-weight: var(--font-normal);
  color: var(--color-text);
  background-color: var(--color-bg);
}

body {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
  min-height: 100vh;
}